
/* NAVBAR CSS */

.navbar{
  height: 10vh;
}



body {
  font-family: 'Mulish',
      sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.nav-link{
  color: black !important;
  font-weight: 500;
  font-size: 15px;
}
.navbar-brand{
  color: #FFC222 !important;
  font-weight: bold;
}

.bi{
  background-color: #FFC222;
  color: black;
  font-size: 25px;
  margin: 5px;
  text-align: center;
  align-items: center;
  padding: 6px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/* END OF NAVBAR CSS */




/* HERO SECTION CSS */
.heroSection {
  /* height: 80vh; */
  background-color: black;

}
.promo{
  color: white;
  font-size: 23px;
  font-weight: bold;
}
.buy{
  color: white;
  font-weight: bolder;
  font-size: 38px;
}
.pizza{
  color: #FFC222;
  font-size: 38px;
  font-weight: bolder;
}

.get{
  font-size: 23px;
  font-weight: bolder;
  color: #00A850;
}
.orderBtn{

  background-color: #FFC222;
  color: black;
  padding: 7px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 800;
  font-size: 15px;
}
.orderBtn:hover{

  background-color: #FFC222;
  color: black;
  padding: 7px;
  border-radius: 20px;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}
.pizzaImg{
  width: 500px;
  height: 500px;
}

@media only screen and (max-width: 1200px) {
  .pizzaImg{
      display: none;
  }
}

@media only screen and (max-width: 600px) {
  .pizzaImg {
      display: none;
  }
}

@media only screen and (max-width: 425px) {
  .pizzaImg {
      display: none;
  }
}


/* END OF HERO SECTION CSS */









.menu-tabs .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 10px;
  background-color: #ffc222;
  color: #ffffff;
  border-bottom: none;
  position: relative;
  z-index: 1;
  font-size: 20px!important;
  font-weight: 900;
  padding: 15px 35px 15px 45px;
  border-radius: 28px 28px 28px 28px
}

.menu-content {
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
}
.menu-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 0px!important;
}
.nav-tabs .nav-link.active {
  background-color: #ffc222!important;
  color: black!important;
  font-weight: 700!important;
  font-size: 17px!important;
  /* font-style: italic; */
}

.nav-tabs .nav-link:not(.active) {
  background-color: white!important;
  color: #000!important;
  border: 1px solid #ffc222!important;
  font-weight: 700!important;
  font-size: 17px!important;
}

.nav-tabs .nav-link {
  font-weight: 700!important;
  font-size: 16px!important;
}

/* .tab-content{
  background-color: transparent!important;
  border: none!important;
  padding: 0!important;
} */

.search-input {
  position: relative;
  width: 450px;
  height: 45px;
  margin: 0 auto;
}

.search-input input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 15px;
  border: 2px solid #ffc222;
  border-radius: 30px;
}

/* .search{
  background-color: transparent!important;
  border: 1px solid #ffc222;
  width: 600px;
  height: 50px;
  border-radius: 50px;

} */
hr{
  margin: 0px!important;
}

.form-control{
  height: 50px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 15px;
}
.form-control:active{
  height: 50px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 15px;
}
.login{
  height: 50px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  color: #000;
  font-weight: 700;
}

.modal-content{
  border-top: 4px solid #ffc222;
  border-bottom: 4px solid #ffc222;

}

.dont{
  color: #ffc222;
}

.btn-primary{
  background-color: #ffc222!important;
  border: none;
}
.buttons {
  /* text-align: center; */
  display: flex;
  flex-direction: column-reverse;
}

.checkout{
background-color: #ffc222;
border: none;
padding: 12px 35px;
font-size: 14px;
font-weight: 700;
border-radius: 8px;
}
.viewCart{
background-color: transparent;
border: 2px solid  #ffc222;
padding: 12px 35px;
font-size: 14px;
font-weight: 800;
color: #000;
border-radius: 8px;
}
/* .carousel-control-prev, .carousel-control-next {
  color: black;
  background-color: #000!important;
} */
#menu-scroll::-webkit-scrollbar {
  background-color: transparent;
}
.card {
  width: 300px;
  height: 120px;
  border-radius: 10px!important;
  border: none;
}



.subAmount{
  display: flex;
  justify-content: space-between;
}
.subAmount p{
  font-size: 19px;
  font-weight: 700;
}
.offcanvas-title{
  font-size: 19px;
  font-weight: 700;
}
.search-input .fa-search {
  position: absolute;
  right: 5px;
  top: 50%;
  align-items: center;
  transform: translateY(-50%);
  color: #000;
  cursor: pointer;
}

.user-cart-icons {
  display: flex;
  align-items: center;
}

.user-cart-icons .fa {
  margin-left: 15px;
  color: #000;
  border-radius: 50%;
  height: 48px;
  font-size: 16px;
  width: 48px;
  border: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.user-cart-icons .fa:hover {
  cursor: pointer;
  margin-left: 15px;
  color: #000;
  border-radius: 50%;
  height: 48px;
  font-size: 16px;
  width: 48px;
  background-color: #ffc222;
  border: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroSection {
  /* height: 80vh; */
  background-color: black;

}


.nav-item .nav-link{
  /* padding: 1em; */
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: #fff!important;
    padding-left: 30px!important;

}
.navb{
  text-align: end!important;
}
.secure{
  /* padding: 1em; */
align-items: center;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    /* padding-left: 70px!important; */
    text-align: end!important;

}

/* .fas{
  color: #000;
  background-color: #ffc222;
  padding: 10px;
} */


.call{
  text-align: end!important;
  color: #ffc222;
  font-weight: 700;
    font-size: 20px;
}
.semiCall{
  /* text-align: end!important; */
  color: #fff;
  font-weight: 300;
    font-size: 13px;
    color: white!important;
}
/* .semiCall{
  font-size: 13px;
  font-weight: 400;
} */
.middle{
  display: flex;
  justify-content: center;
}

select{
  width: 200px;
  background-color: #00a14879;
}
.log{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ffc222;
  padding-left: 10px;
  padding-right: 10px;
}
